:root {
    --text: #e9eeee;
    --background: #101515;
    --primary: #b4c7c6;
    --secondary: #504961;
    --accent: #8e789a;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.hidden {
    display: none;
}

.icon {
    color: var(--accent);
}

.hover:hover {
    cursor: pointer;
}